@import '../../media/variables';

.sectionTitle {
  display: flex;
  font-size: 1.0625rem;
  font-weight: 500;
  padding: 0 0.5rem;
  margin: 0 0 0.5rem;
  color: $font-dark;

  .icon {
    margin-right: 0.5rem;
  }
}

.sectionSubtitle {
  display: flex;
  font-size: 1.25rem;
  margin: 0;
  border: 1px solid $light-grey;
  cursor: pointer;
  border-radius: 0.5rem;
  padding: 0.5rem 0;
  box-shadow: $section-shadow;
  height: 90px;
  overflow: hidden;

  &.compact {
    height: 61px;
  }

  &.expanded {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
  }

  .titleTotals,
  .titleNew {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $font-dark;
    flex: 2 2;
    max-width: 150px;
    padding: 0 0.5rem 0 1.25rem;

    .totalLabel {
      font-size: 0.9375rem;
      font-weight: 400;

      &.danger {
        color: $app-danger;
      }

      &.warning {
        color: $app-warning;
      }

      &.success {
        color: $app-success;
      }
    }

    .totalNumber {
      font-size: 1.625rem;
      font-weight: 500;
    }
  }

  .titleTotals {
    border-right: 1px solid $light-grey;
    min-width: 150px;

    @media (min-width: 768px) {
      padding-left: 2rem;
      max-width: 200px;
    }
  }

  .sectionSubtitleText {
    flex: 2 2;
    align-self: center;
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 1.3125rem;
  }

  .expandCollapseArrow {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-right: 1rem;
    transition: transform 0.2s linear;

    &:after {
      content: '\2023';
      color: $dark-blue;
      font-size: 2.66rem;
      transform: rotate(90deg);
    }

    &.expanded:after {
      transform: rotate(-90deg);
    }

    @media (min-width: 768px) {
      padding-right: 2rem;
    }
  }
}
