@import '../../media/variables';

.tableContainer {
  margin-bottom: 2rem;

  .table {
    width: 100%;
    border-spacing: 0;
    margin-bottom: 0.5rem;
    border: 1px solid $light-grey;
    box-shadow: $expanded-section-shadow;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;

    .thead {
      height: 45px;
      background-color: $app-white;

      .thr {
        height: 45px;

        .th {
          color: $light-blue;
          font-weight: 500;

          &:first-child {
            padding-left: 1rem;
          }
        }
      }
    }

    .thead,
    .tbody {
      width: 100%;
      text-align: left;

      .th {
        line-height: 2rem;
        padding: 0;
        position: relative;
        cursor: pointer;

        .columnName {
          margin-right: 0.5rem;
        }

        .columnSort {
          &:after {
            content: '\21C5';
          }
        }
      }

      .tr {
        &:nth-child(odd) {
          background-color: $light-grey;
        }

        .td {
          padding: 0;
          line-height: 2rem;
          position: relative;
          vertical-align: middle;

          &:first-child {
            padding-left: 3.5rem;
          }

          .img {
            margin: 0;
            position: absolute;
            left: 1rem;
          }

          .secondaryInfo {
            color: $app-danger;
            margin-left: 0.25rem;
            font-size: 0.875rem;

            &.danger {
              color: $app-danger;
            }

            &.warning {
              color: $app-warning;
            }

            &.success {
              color: $app-success;
            }
          }

          &.formerEUcountry {
            font-size: 0.875rem;
            padding-left: 1rem;
            background-color: $app-white;
          }
        }
      }
    }

    .thead,
    .tbody {
      .tr,
      .thr {
        display: grid;
        grid-template-columns: auto 5rem 5rem;
        column-gap: 10px;
        align-items: center;

        .th:last-child,
        .td:last-child {
          padding-right: 1rem;
        }

        @media (min-width: 768px) {
          grid-template-columns: auto 10rem 10rem;
        }
      }
    }

    .tbody {
      font-weight: 400;
    }
  }

  .tfoot {
    font-size: 0.8125rem;
    padding: 0 1rem;
  }
}
