@import '../../media/colours';

.section {
  margin-bottom: 1.5rem;
  max-width: 750px;
  margin: 0 auto 1.5rem;

  .displayOptions {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;

    .deathsDisplay,
    .confirmedDisplay,
    .recoveredDisplay {
      flex: 1 1;
      display: flex;
      align-items: center;
      font-size: 0.875rem;
      padding: 0.5rem 0.5rem 0.5rem 0.25rem;
      border-radius: 2px;
      color: $font-dark;
      cursor: pointer;

      &:not(:last-child) {
        margin-right: 0.175rem;
      }

      > input,
      span {
        flex: 1 1 auto;
        cursor: inherit;
      }
    }

    .deathsDisplay {
      background: $accessible-danger-background;
    }
    .confirmedDisplay {
      background: $accessible-warning-background;
    }
    .recoveredDisplay {
      background: $accessible-success-background;
    }
  }

  .graphData {
    display: grid;
    grid-template-columns: 80px auto;
    gap: 0.5rem;
    align-items: center;
    margin: 1rem 0 2rem;

    .graphDateEntry {
      margin: 0;
      font-size: 0.875rem;
    }

    .graphDateData {
      color: $font-dark;
      font-size: 0.75rem;
      margin: 0;
      display: grid;
      grid-auto-rows: 1.25rem;
      row-gap: 0.175rem;

      .danger,
      .warning,
      .success {
        line-height: 1.25rem;
        padding-left: 0.5rem;
        border-radius: 2px;

        &.noData {
          padding-left: 0;
        }
      }

      .danger {
        background: $accessible-danger-background;
      }

      .warning {
        background: $accessible-warning-background;
      }

      .success {
        background: $accessible-success-background;
      }
    }
  }
}
