@import '../../media/colours';

.section {
  margin-bottom: 1.5rem;
  max-width: 850px;
  margin: 0 auto 1.5rem;

  .displayOptions {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;

    .displayDeaths,
    .displayCofirmed,
    .displayRecovered {
      display: flex;
      font-size: 0.875rem;
      padding: 0.5rem 0.5rem 0.5rem 0.25rem;
      border-radius: 2px;

      &:not(:last-child) {
        margin-right: 0.175rem;
      }
    }

    .displayDeaths {
      color: $app-white;
      background-color: $app-danger-light;
    }
    .displayCofirmed {
      color: $font-dark;
      background-color: $app-warning-light;
    }
    .displayRecovered {
      color: $font-dark;
      background-color: $app-success-light;
    }
  }

  .graphData {
    display: grid;
    grid-template-columns: 80px auto;
    gap: 0.5rem;
    align-items: center;
    margin: 1rem 0 2rem;

    .graphDateEntry {
      margin: 0;
      font-size: 0.875rem;
    }
    .graphDateData {
      color: $font-dark;
      font-size: 0.75rem;
      margin: 0;
      display: grid;
      grid-auto-rows: 1rem;
      row-gap: 0.175rem;

      .danger,
      .warning,
      .success {
        line-height: 1rem;
        padding-left: 0.5rem;
        border-radius: 2px;

        &.noData {
          padding-left: 0;
        }
      }

      .danger {
        background-color: $app-danger-light;
      }

      .warning {
        background-color: $app-warning-light;
      }

      .success {
        background-color: $app-success-light;
      }
    }
  }
}
