// Colours
$light-blue: #174094;
$dark-blue: #103988;
$light-grey: #ebedf1;
$font-dark: #575756;
$font-light: #4e4e4e;
$border-light: #4e4e4e;
$app-black: #000000;
$app-white: #ffffff;

$app-danger: #b82f2f;
$app-warning: #bd732c;
$app-success: #338d46;
$app-piechart-bg: #d2d2d2;
