// Colours
$light-blue: #174094;
$dark-blue: #103988;
$light-grey: #ebedf1;
$font-dark: #575756;
$font-light: #4e4e4e;
$border-light: #4e4e4e;
$app-black: #000000;
$app-white: #ffffff;

$app-danger: #a60014;
$app-warning: #b95500;
$app-success: #007923;
$app-piechart-bg: #d2d2d2;
