// Colours
$light-blue: #41479b;
$dark-blue: #1c1f50;
$light-grey: #ececec;
$font-dark: #2d2d2d;
$font-light: #4e4e4e;
$border-light: #4e4e4e;
$app-white: #ffffff;
$app-danger: #eb004c;
$app-danger-light: #fd4d4d;
$app-warning: #d27900;
$app-warning-light: #fdc74d;
$app-success: #00584b;
$app-success-light: #89fd4d;
