@import './colours';

$section-shadow: 0 8px 10px 2px rgba($app-black, 0.01),
  2px 4px 10px 2px rgba($app-black, 0.03),
  -2px 4px 10px 2px rgba($app-black, 0.03);

$accessible-danger-background: repeating-linear-gradient(
  -45deg,
  rgba($app-danger, 0.2),
  rgba($app-danger, 0.2) 2px,
  rgba($app-danger, 0.15) 2px,
  rgba($app-danger, 0.15) 5px
);
$accessible-warning-background: repeating-linear-gradient(
  0deg,
  rgba($app-warning, 0.3),
  rgba($app-warning, 0.3) 1px,
  rgba($app-warning, 0.2) 1px,
  rgba($app-warning, 0.2) 5px
);
$accessible-success-background: repeating-linear-gradient(
  90deg,
  rgba($app-success, 0.3),
  rgba($app-success, 0.3) 2px,
  rgba($app-success, 0.2) 2px,
  rgba($app-success, 0.2) 5px
);
